streamlit
pandas
numpy
plotly
matplotlib
scikit-learn
pillow
deepface
tf-keras
joblib
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
beautifulsoup4
pysqlite3-binary
